.jumbotron {
  padding-top: 7rem;
  background-color: #b2cdd8;
}

.navbar {
  background-color: #2d99c4;
}

#projects {
  background-color: #b2cdd8;
}

footer {
  background-color: #2d99c4;
}

section {
  padding-top: 5rem;
}
